/*
 * Theme Variables
 *
 * Add custom theme variables here to make it easier to upgrade bootstrap
 */

//
// Header
//
$header-height: $line-height-base * $navbar-padding-y * 2.8;
$header-padding-bottom: $line-height-base * $navbar-padding-y;

//
// Footer
//
$footer-font-size: $font-size-xs;
$footer-line-height: $footer-font-size;
$footer-padding-top: 1.6em;
$footer-padding-bottom: 1.6em;
$footer-height: $footer-line-height * 5.2; // $footer-line-height (1) + $footer-padding-top (1.6) + $footer-padding-bottom (1.6) + $shine-height(1);
