.border-b {
  border-bottom: solid 1px $gray-200;
}
.border-t {
  border-top: solid 1px $gray-200;
}
.border-1 {
  border-width: 1px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-3 {
  border-width: 3px !important;
}
